@font-face {
  font-family: JupiterPro;
  src: url("../font/JupiterProBold.otf") format("opentype");
}
:root {
  animation-delay: 4.5s;
}

html,
body {
  height: 100%;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}
.container video {
  width: 100%;
  display: block;
}

.fa-twitter {
  color: #1f82f3;
}
.fa-twitch {
  color: #7615f5;
}
.fa-youtube {
  color: #f14029;
}

.container:before {
  object-fit: cover;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  animation: fadein 2s;
  animation-delay: 12s;
  animation-fill-mode: forwards;
}

.typewriter .worldfirst {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
}
.worldfirst {
  animation-delay: 14s;
}

.teamname {
  animation-delay: 15s;
}

html {
  font-family: "JupiterPro", serif;
  font-size: 150%;
  line-height: 1.4;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.viewport-header {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
  text-shadow: 2px 2px 5px #ce7f50;
}

span {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1vw;
  line-height: 0;
  font-size: 1vw;
  text-align: center;
}

p {
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typing effect */
@keyframes fadein {
  from {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grid-container {
  columns: 9 150px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
.grid-item {
  margin: 0 1.5rem 1.5rem 0;
  width: 100%;
  height: 60vh;
  border: solid 2px black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  transition: all 0.25s ease-in-out;
}
.grid-item:hover {
  filter: grayscale(0);
  border-color: coral;
}
.card-content .profile-img {
  height: 100%;
  border-radius: 100%;
  transition: all 0.25s ease-in-out;
}
.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 0.5em;
  text-align: center;
  font-style: italic;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(0, 0, 0));
}
.card-content p {
  color: #fcba07;
  text-shadow: 3px 3px 5px #000000;
  margin: 0.5rem;
}
.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid-item {
  overflow: hidden;
}

.sigil {
  margin: auto;
  display: flex;
  border-radius: 0%;
}

.grid-item-1 {
  animation-delay: 15s;
}
.grid-item-2 {
  animation-delay: 15.8s;
}
.grid-item-3 {
  animation-delay: 16.6s;
}
.grid-item-4 {
  animation-delay: 17.4s;
}
.grid-item-5 {
  animation-delay: 18.2s;
}
.grid-item-6 {
  animation-delay: 19s;
}
.grid-item-7 {
  animation-delay: 19.8s;
}
.grid-item-8 {
  animation-delay: 20.6s;
}
.grid-item-9 {
  animation-delay: 21.4s;
}
